[Unit]
Description=App2_2
After=syslog.target network.target app1.service
Requires=app1.service

[Service]
Type=simple
User=app_admin
Goup=apps
SyslogIdentifyer=run app2_2
WorkingDirectory=/usr/local/dir_app2

Environment=PORT=9003
Environment=CONFIG_FILE_PATH=conf/app2.conf
Environment=JAVA_OPTS=-Xms512m -Xmx1G

ExecStart=/bin/bash -c "nohup ./bin/app2 \
      -Dconfig.file=$CONFIG_FILE_PATH \
      -Dhttp.port=$PORT \
      -Dfile.encoding=UTF8 > app2_2.log 2>&1 &"

Restart=always


[Install]
WantedBy=multi-user.target

# service-файл хранится в директории /etc/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl start app2_2